/* inspired by readability's novel theme */

body {
	color: rgb(29, 25, 22);
	background: rgb(244, 238, 217);
	font-family: Cambria,"Hoefler Text",Georgia,"Times New Roman",serif;
	margin-top: 0.5cm;
	margin-bottom: 1cm;
}

#container {
	margin: 0px auto;
	font-size: 1.4em;
	max-width: 30em;
}

#content {
	line-height: 1.5;
}

#title, #author, #date, .prevLink {
	display: inline;
}

.nextLink, .prevLink, #author, #date, #rights {
	font-size: 0.8em;
}

#date, .nextLink {
	float: right;
}

a {
	color: rgb(156, 0, 1);
}

a, a:active, a:focus {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2.5em;
}

#entryTitle {
	margin-bottom: 0px;
}

#subTitle {
	margin-top: 0px;
	font-weight: lighter;
	font-size: 0.8em;
	font-style: italic;
}

br {
	margin-bottom: 0.2cm;
}

#links > a {
	margin-right: 0.2cm;
}

/* bootstrap icons */

[class^="icon-"],[class*=" icon-"]{display:inline-block;width:14px;height:14px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url("glyphicons-halflings.png");background-position:14px 14px;background-repeat:no-repeat;margin-top:1px;}
.icon-arrow-left{background-position:-240px -96px;}
.icon-arrow-right{background-position:-264px -96px;}
